
 /* Змінні CSS */
:root{
    --white-color:#ffffff;
    --backround-color: #202023 ;
    --black-color:#000;
    --btns-bcg-color:#B47B48;
    --btns-buy-bcg-color:#C85312;
    --ol-bcg-color: #616161;
    --li-hover-bcg-color:#EBAD51;
    --main-bcg-color: #272727;

}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--backround-color);
    color: var(--white-color);
}
.container {
    width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    /* background-color:#20202363;
    position:fixed; */
}
.header-list {
    display: flex;
    gap: 30px;
}
.header-link {
    font-size: 24px;
    font-weight: 200;
    color: var(--white-color);
   
}

.header-link:hover {
    color: var(--btns-buy-bcg-color);
   
}

/* hero */
.hero {
    background-image: url(../pictures/Backround-header-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 36px;
}
.hero-title {
    font-size: 70px;
    font-weight: 200;
}

.hero-words {
    font-size: 21px;
    font-weight: 300;
    width: 570.25;
    margin-bottom: 33px;
    
}

.hero-button {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    padding: 16px 34px;
    border-radius: 17px;
    background-color: var(--btns-bcg-color);
    height: 57px;
    color: var(--white-color) ;
    margin-bottom: 125px;
    
}
.hero-list {
    display: flex;
    gap: 104px;
    justify-content: space-between;
}
.hero-item {
    background-color: var(--main-bcg-color);
    display: flex;
    width: 310px;
    height: 225px;
}
.hero-wrap {
    padding-top: 0px;
    padding-bottom: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
} 
.hero-text {
    font-size: 24px;
    font-weight: 200;
    display: inline-block;
    margin: 51px 7px 16px 26px ;

}

.hero-subtitle {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin: 0 12px 0 8px;
}

.hero-button-buy {
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
    padding: 10px 22px 5px 22px;
    margin: 32px 32px 44px 39px;
    background-color: var(--btns-buy-bcg-color);
    color: var(--white-color);
}
.hero-preice {
    margin: 51px 65px 0 15px;
}
.hero-name {
    margin: 0 10px 20px 0;
    height: 40px;
    width: 90px;
}

.hero-btn-buy {
    margin-right: 50px;
    margin-top: 32px;
    margin-bottom: 44px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
    padding: 10px 22px 5px 22px;
    background-color: var(--btns-buy-bcg-color);
    color: var(--white-color);
}
.hero-img-blackberry-pie {
    margin-top: 10px;
}
.hero-value {
    margin: 51px 23px 4px 0;
}
.hero-nickname{
    margin: 0 10px 20px 0;
   
}

.hero-button-buy-2 {
    margin: 0 31px 44px 0;
}
/* menu */
.menu {
    text-align: center;
    padding-bottom: 73px;
}
.menu-title {
    font-size: 64px;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 18px;
}
.menu-list {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;  
    /* column-gap: 10px; */
    padding: 0; 
   
}
.menu-item {
    flex-basis: calc((100% - 207px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.outline {
    outline: solid var(--white-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9px;
}
.menu-img {
  margin: 14px 14px 0px 20px;
}

.menu-img-3 {
    margin: 0px 65px;
    height: 250px;
}

.menu-img-4 {
    margin: 0px 65px;
    height: 250px;
}

.menu-subtitle {
    font-size: 25.92px;
    font-weight: 800;
    display: inline-block;
    height: 31.8px;
}

.menu-button {
    font-size: 25.92px;
    font-weight: 800;
    display: inline-block;
    border-radius: 17px;
    background-color: var(--btns-bcg-color);
    color: var(--white-color);
    padding: 5px 43px;
    margin-bottom: 7px;
    height: 41px;
}
/* quality */
.quality-title {
    font-size: 64px;
    font-family: Italiana;
    display: inline-block;
    height: 75px;
    margin: 90px 0px 0px 594px;
}
.quality-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-self: start;
    background-image: linear-gradient(
        to right,
        rgba(32, 32, 35, 0.359),
        rgba(32, 32, 35, 0)
      ),
      url(../pictures/Quality-our-bekary.png);
      padding-bottom: 44px ;
     
}
.recipe-list {
    background-color: var(--ol-bcg-color);
    /* width: 197.5px; */
    padding: 0;
    margin: 0;
    padding-left: 40px; 
    padding-bottom: 50px ;
}
.recipe-item {
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
    padding-left: 14px ;
}
.quality-text {
    font-size: 24px;
    font-weight: 500;
}

/* advantages */
.advantages {
    background-image: linear-gradient(
        to right ,
        #000000 ,
        #03030300
        
    ),
    url(../pictures/Backround-advantages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.advantages-title {
    font-size: 48px;
    font-family: Italiana;
    color: #d9d9d9;
    display: inline-block;
    margin: 55px 0px 132px 165px;
}
.advantages-list {
    display: flex;
    justify-content: center;
    gap: 285px;
}

.advantages-list li:nth-child(1)::before {
    content: " ";
    display: inline-block;
    width: 218.25px;
    height: 183px;
    background-image: url(../pictures/Frame-3.svg) ;
    margin-left:100px ;
}

.advantages-list li:nth-child(2)::before {
    content: " ";
    display: inline-block;
    width: 218.25px;
    height: 183px;
    background-image: url(../pictures/Frame-1.svg) ;
}

.advantages-list li:nth-child(3)::before {
    content: " ";
    display: inline-block;
    width: 218.25px;
    height: 183px;
    background-image: url(../pictures/Frame-4.svg) ;
}
.advantages-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
}
.advantages-subtitle {
    font-size: 24px;
    font-family: Inter;
    margin-top: 10px;

}
/* footer family */

/* adress */
.adress {
    display: flex;
    padding-bottom: 50px;
}
.adress-wrap {
    display: flex;
    flex-direction: column;
}
.adress-box {
    display: flex;
    flex-direction: column;
    
}
.adress-thumb {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.adress-title {
    font-size: 48px;
    font-family: Italiana;
}
iframe {
    margin-right: 100px;
}
.adress-subtitle {
    font-size: 40px;
    margin-top: 180px;
}
.adress-list {
    display: flex;
    flex-direction: column;
    gap:40px ;
    margin-right: 20px;
}

.adress-list li:nth-child(1){
    margin-top: 49px;
}
.adress-link {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    color: var(--white-color);
}

.adress-link:hover{
    color: var(--btns-buy-bcg-color);
}


.adress-text {
    font-size: 24px;
    font-weight: 200;
    display: inline-block;
    width: 130px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    gap: 77.32px;
}
.footer-wrap {
   display: flex;
   flex-direction: column;

}
.footer-box {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    gap: 141.52px;
}
.footer-title {
    font-size: 40px;
    font-weight: 200;
}

.footer-words {
    font-size: 20px;
    font-weight: 300;
}

.footer-subtitle {
    font-size: 24px;
    font-weight: 300; 
}
.footer-list {
    display: flex;
    flex-direction: column;
}
.footer-text {
    font-size: 24px;
    font-weight: 300
}
.footer-info {
    font-size: 20px;
    font-weight: 100;
    
}