
 /* Змінні CSS */
:root{
    --white-color:#ffffff;
    --backround-color: #202023 ;
    --black-color:#000;

}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--backround-color);
    color: var(--white-color);
}

/* header */
.header-link {
    font-size: 24px;
    font-weight: 200;
    display: inline-block;
}

/* hero */
.hero-title {
    font-size: 70px;
    font-weight: 200;
    display: inline-block;
}

.hero-words {
    font-size: 21px;
    font-weight: 300;
    display: inline-block;
}

.hero-button {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    height: 34px
}

.hero-text {
    font-size: 24px;
    font-weight: 200;
    display: inline-block;
}

.hero-subtitle {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.hero-button-buy {
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
}

/* menu */
.menu-title {
    font-size: 64px;
    font-weight: 100;
    display: inline-block;
}

.menu-subtitle {
    font-size: 25.92px;
    font-weight: 800;
    display: inline-block;
    height: 31.8px;
}

.menu-button {
    font-size: 25.92px;
    font-weight: 800;
    display: inline-block;
}

.quality-title {
    font-size: 64px;
    font-family: Italiana;
    display: inline-block;
    height: 75px;
}

/* quality */
.quality-text {
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    height: 92px;
}

/* advantages */
.advantages-title {
    font-size: 48px;
    font-family: Italiana;
    color: #d9d9d9;
    display: inline-block;
}

.advantages-subtitle {
    font-size: 24px;
    display: inline-block;
    font-family: Inter;
}

/* WHW */
.WHW-title {
    font-size: 48px;
    font-family: Italiana;
    display: inline-block;
}

.WHW-subtitle {
    font-size: 40px;
    display: inline-block;
    height: 44px;
}

.WHW-link {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
}

.WHW-text {
    font-size: 24px;
    font-weight: 200;
    display: inline-block;
}

/* footer */
.footer-title {
    font-size: 40px;
    font-weight: 200;
    display: inline-block;
}

.footer-words {
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
}

.footer-subtitle {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
}

.footer-text {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
}

.footer-info {
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
}